{% comment %}
  Added by Jun
  I design this snippet by mimic variation selector.
  Can't use noscript wrap, otherwise the buttons disappeared.

  Renders a product style options selector. It is based on metafield substyle.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-style-selector', product: product %}
{% endcomment %}
<noscript>
  <legend class="form__label">Style</legend>
  <fieldset id="Product-style-fieldset" class="product-form__input">
    {% for sty in product.metafields.custom.substyle.value %}
      <input
        type="radio"
        id="style-selector_{{ sty.sku | handleize }}"
        name="style-selector"
        value="{{ sty.sku }}"
      >
      <label for="{{ sty.sku }}">
        {{ sty.label }}
      </label>
    {% endfor %}
  </fieldset>
</noscript>
