{% comment %}
  Added by Jun
  I design this snippet by mimic variation selector.
  Can't use noscript wrap, otherwise the buttons disappeared.

  Renders a product style options selector. It is based on metafield substyle.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-style-selector', product: product %}
{% endcomment %}

<div>
  <label class="form__label" for="product-style-{{ section.id }}">Style</label>
</div>
