<div class="customization-container">
  <div class="img"></div>
  <div class="style-id">dfdfdf</div>
</div>

{% schema %}
{
  "name": "Customization",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
