<section>
  <div>
    {{ section.settings.title }}
  </div>
  {%- for block in section.blocks -%}
    <div>{{ block.name }}
    </div>
    <div>{ block.name }
    </div>
    {{ block.name }}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ],
    "blocks": [
      {
        "name": "img",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "test aaa section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}