<section>
  <div>
    <h2>{{ product.title }}</h2>
    {{ section.settings.title }}
  </div>
  {%- for block in section.blocks -%}
    {% case block.type %}
      {%- when 'title' -%}
      {% render block %}
      {%- when 'description' -%}
      {% render block %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ],
    "blocks": [
      {
        "name": "Section title",
        "type": "title"
      }, {
        "name": "Description",
        "type": "description"
      }
    ]
  }
{% endschema %}