<section>
  {%- for block in section.blocks -%}
    {% case block.type %}
      {%- when 'title' -%}
      <h2>{{ product.title }}</h2>
      <h4>{{ block.settings.section-title }}</h4>
      {%- when 'description' -%}
      <div>{{ product.description }}</div>
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "name": "t:sections.main-product.blocks.text.name",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "section-title",
            "label": "Set section title"
          }
        ]
      },
      {
        "name": "Description",
        "type": "description"
      },
      {
        "name": "img",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "image",
            "label": "Image label"
          }, {
            "type": "text",
            "id": "section-title",
            "label": "Set section title"
          }
        ]
      }, {
        "name": "image pick",
        "type": "imagepick",
        "settings": [
          {
            "type": "image_picker",
            "id": "imagep",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "test aaa section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}