<section>
  <div>
    {{ section.settings.title }}
  </div>
</section>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ],
    "presets": [
      {
        "name": "test aaa section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}