<section>
  <div>
    <h2>{{ product.title }}</h2>
    {{ section.settings.title }}
  </div>
  {%- for block in section.blocks -%}
    <div>{{ block.settings.image }}</div>
    <div>{ block.name }</div>
    {{ block.name }}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Test Section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "test section id",
      "default": "TtTTT"
    }
  ],
  "blocks": [
    {
      "name": "Section title",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "section-title",
          "label": "Set section title"
        }
      ]
    }, {
      "name": "Description",
      "type": "description"
    },
    {
      "name": "img",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": "Image label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "test aaa section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
