<div>
  {{ section.settings.title }}
</div>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ]
  }
{% endschema %}