<div>
  Test Section
</div>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "id": "test_section_id",
        "type": "text",
        "label": "test section id",
        "default": "TtTTT"
      }
    ]
  }
{% endschema %}